body {
  font-family: "Montserrat", sans-serif;
  background-color: #232b2b;
  letter-spacing: 1.2px;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  border: 20px solid transparent;
  border-image: linear-gradient(60deg, #dc3d24 0%, #dc8324 100%);
  border-image-slice: 1;
}
@media only screen and (max-width: 385px) {
  body {
    border-width: 10px;
  }
}

h1 {
  color: #E0E0E0;
  text-align: center;
}

h3 {
  word-spacing: 7px;
}

.app-title {
  display: flex;
  justify-content: center;
}
.app-title::before {
  content: "";
  display: block;
  background: url("../icons8-film-reel-100.png") no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
  margin-right: 15px;
}
@media only screen and (min-width: 1500px) {
  .app-title {
    font-size: 2.5rem;
  }
}

.svg {
  width: 25px;
  height: 25px;
}
.svg:hover {
  cursor: pointer;
}
@media only screen and (max-width: 385px) {
  .svg {
    width: 15px;
    height: 15px;
  }
}

.star svg {
  width: 20px;
  height: 20px;
  fill: white;
  pointer-events: none;
  padding: 1px;
}

.star:hover svg, .star:hover ~ .star svg {
  fill: orange;
}

.star.selected svg,
.star.selected ~ .star svg {
  fill: #996300;
}

.stars-div {
  display: inline-block;
}
@media only screen and (max-width: 700px) {
  .stars-div {
    margin: 10px;
    padding-bottom: 20px;
  }
}

.stars {
  bottom: 10px;
  display: flex;
  flex-flow: row-reverse;
  z-index: 999;
}

.container {
  padding: 60px 0;
}
@media only screen and (min-width: 1500px) {
  .container {
    padding: 100px 0;
  }
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.movies .movie {
  list-style: none;
  justify-content: space-between;
  background-color: #464646;
  margin: 30px;
  padding: 20px;
  position: relative;
  border-radius: 8px;
}
.movies .movie:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}
.movies .movie .moviePoster {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 520px) {
  .movies .movie .moviePoster {
    display: block;
    margin: 0 auto;
  }
}
.movies .movie .movieName {
  font-size: 25px;
  text-align: left;
  color: #E0E0E0;
  cursor: pointer;
}
.movies .movie .movieText {
  text-align: left;
  color: #E0E0E0;
}
.movies .movie .rating {
  border: 2px solid #dc3d24;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 15px;
  margin: -25px;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #dc3d24;
}
@media only screen and (max-width: 385px) {
  .movies .movie .rating {
    width: 20px;
    height: 20px;
    margin: -20px;
  }
}
@media only screen and (min-width: 1500px) {
  .movies {
    padding: 40px;
  }
}
@media only screen and (max-width: 385px) {
  .movies {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.button {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 20px;
  font-size: 1.2rem;
}
@media only screen and (max-width: 385px) {
  .button {
    width: 40px;
    height: 40px;
    font-size: 0.8em;
    padding: 0;
    margin: 10px;
  }
}

.bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-button {
  background-color: #E0E0E0;
  bottom: 2%;
  width: auto;
  border-radius: 8px;
  height: auto;
  padding: 10px 15px;
}
.load-button:hover {
  cursor: pointer;
  background-color: #5cb85c;
}

.roulette-button {
  background-color: #dc3d24;
  width: auto;
  border-radius: 8px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
.roulette-button span {
  margin-left: 5px;
}
.roulette-button .icon {
  width: 15px;
  height: 15px;
}
.roulette-button:hover {
  cursor: pointer;
  background-color: #5cb85c;
}

.jump-top-button {
  position: fixed;
  display: none;
  right: 10px;
  bottom: 80px;
  float: right;
  background-color: #dc8324;
}
@media only screen and (max-width: 385px) {
  .jump-top-button {
    bottom: 90px;
  }
}
.jump-top-button:hover {
  cursor: pointer;
  background-color: #5cb85c;
}

.movieDetails {
  display: none;
  background-color: rgba(128, 128, 128, 0.6);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 700px) {
  .movie-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}

.movies-rating {
  color: #E0E0E0;
  background-color: #464646;
  top: 50%;
  left: 50%;
  position: fixed;
  padding: 3%;
  width: 650px;
  overflow-y: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 999;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}
.movies-rating .title {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
@media only screen and (max-width: 700px) {
  .movies-rating .title {
    margin: 10px;
  }
}
.movies-rating .movieSummary {
  font-weight: 200;
  line-height: 1.4;
}
@media only screen and (max-width: 700px) {
  .movies-rating .movieSummary, .movies-rating .movieInformation {
    margin: 10px;
  }
}
.movies-rating .poster {
  padding: 0 20px 20px 0;
  width: 250px;
  float: left;
}
@media only screen and (max-width: 385px) {
  .movies-rating .poster {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 700px) {
  .movies-rating .poster {
    padding: 10px;
  }
}
@media only screen and (max-width: 385px) {
  .movies-rating {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: none;
    padding: 2%;
  }
}
@media only screen and (min-width: 385px) and (max-width: 700px) {
  .movies-rating {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: none;
    padding: 2%;
  }
}
@media only screen and (min-width: 1500px) and (min-height: 1000px) {
  .movies-rating {
    width: 70%;
    font-size: 1.5em;
  }
}

.close-button {
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #dc3d24;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem;
}
.close-button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 650px) {
  .close-button {
    top: 10px;
    right: 10px;
  }
}
@media only screen and (min-width: 1500px) {
  .close-button {
    width: 60px;
    height: 60px;
  }
}

.movie-roulette-container {
  display: none;
  background-color: rgba(128, 128, 128, 0.6);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.movie-roulette {
  color: #E0E0E0;
  background-color: #464646;
  padding: 7%;
  top: 50vh;
  left: 50vw;
  width: 50%;
  max-width: 100%;
  max-height: 100%;
  z-index: 999;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 8px;
}
@media only screen and (min-width: 1500px) and (min-height: 1000px) {
  .movie-roulette {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 650px) {
  .movie-roulette {
    width: auto;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    max-width: auto;
    max-height: auto;
    transform: none;
    padding-top: 50px;
  }
}
.movie-roulette .movie-roulette-title {
  padding: 4%;
  text-align: center;
  border: 2px solid;
  border-image: linear-gradient(45deg, #dc3d24, #dc8324) 1;
}
.movie-roulette .roll-button {
  background-color: #dc3d24;
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 10px 15px;
  border-radius: 8px;
}
@media only screen and (max-width: 700px) {
  .movie-roulette .roll-button {
    margin: 20px auto 0 auto;
  }
}
.movie-roulette .roll-button:hover {
  background-color: #5cb85c;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
